body {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 margin: 0;
 background-color: #f9f9f9;
 font-family: Arial, sans-serif;
}

.login-container {
 background-color: #fff;
 padding: 40px;
 border-radius: 10px;
 box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
 text-align: center;
}

.login-container h2 {
 margin-bottom: 20px;
 font-size: 36px;
 color: #333;
}

.input-group {
 display: flex;
 justify-content: space-between;
 margin-bottom: 20px;
}

.login-form input {
 flex: 1;
 padding: 10px;
 margin-right: 10px;
 border: 1px solid #ccc;
 border-radius: 5px;
 font-size: 16px;
}

.login-form button {
 width: 100%;
 padding: 10px;
 background-color: #ff4d4d;
 color: white;
 border: none;
 border-radius: 5px;
 font-size: 18px;
 cursor: pointer;
 transition: background-color 0.3s ease;
}

.login-form button:hover {
 background-color: #ff3333;
}
.login-link {
 margin-top: 20px;
 font-size: 14px;
 color: #333;
 animation: fadeIn 1s ease;
}

.login-link a {
 color: #ff6f61;
 text-decoration: none;
 font-weight: bold;
 transition: color 0.3s ease;
}

.login-link a:hover {
 color: #ff544b;
}
